$PFHighwaySansPro-font: "PFHighwaySansPro", sans-serif;
$pragmatica-font: "pragmatica", sans-serif;

$esFrom: 0px;
$esTo: 319px;
$smFrom: 320px;
$smTo: 639px;
$mdFrom: 640px;
$mdTo: 959px;
$lgFrom: 960px;
$lgTo: 1365px;
$xlFrom: 1366px;